.App {
  text-align: center;
  background: #f7f9f8;
  font-family: 'Nunito', sans-serif;
}

.Main {
  margin: 0%;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: rgb(66 72 120)
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-decoration: underline;

}

/* .trackList {
  font-weight: bold;
  font-size: 30px;

} */

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #f7f9f8
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #f7f9f8
}

.nav {
  display: flex;
  justify-content: space-evenly;
}


.topMusic {
  display: flex;
  justify-content: space-evenly;
}


.artistImage {
  border: 2px solid black;
  border-radius: 50%;
}

.mostStreamed {
  color: black;
  font-size: 15px bold;
}

.trackImage {
  border: 1px solid black;
  border-radius: 50%;
}


input {
  color: black;
  font-family: Nunito;
  padding: 0;
  margin: 0px;
  border: 1px solid black;
  background-color: transparent;
}

input[type="text"] {
  width: 60%;
  height: 96px;
  font-size: 50px;
  line-height: 1;
  margin-right: 10px;
}

.searchButton {
  display: inline-block;
  background-color: #f68c85;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#searchButton {
  font-size: 30px;
  color: white;
  border: none;
  align-content: center;
}

.searchButton:hover {
  background-color: #8aace9;
}

.card {
  padding: 1em;
  width: 18em;
  height: 24em;
  background-color: rgb(66 72 120);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.artistCard {
  padding: 1em;
  width: 18em;
  height: 20em;
  background-color: rgb(66 72 120);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}


.albumCard {
  padding: 1em;
  width: 18em;
  height: 24em;
  background-color: rgb(66 72 120);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.trackCard {
  padding: 1em;
  width: 20em;
  height: 24em;
  background-color: rgb(66 72 120);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.audio-player-container {
  width: 10%;

}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  justify-content: center;
}

.searchCard {
  padding: 1em;
  padding-bottom: 1em;
  width: 18em;
  height: 30em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  position: bottom;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  background: #f7f9f8;
}

.headerImage {
  border-radius: 0;
  max-width: auto;
  height: 0;
}