.App {
  text-align: center;
}

.nav {
display: flex;
justify-content: space-evenly;
}


.footer {
display: flex;
justify-content: center;
}

.topMusic {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

img {
  border: 2px solid black;
  border-radius: 10%; 
}

.artistImage {
  border: 2px solid black;
  border-radius: 50%; 
}

/* .albumImage {
  border: 2px solid black;
  border-radius: 10%; 
}

.trackImage {
  border: 1px solid black;
  border-radius: 50%; 
}  */


input {
  color: black;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

input[type="text"] {
  width: 80%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
  margin-right: 10px;
}

/* button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
} */

.card {
  padding: 1em;
  width: 18em;
  height: 26em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.audio-player-container {
 width: 10%; 

}