.App {
  text-align: center;
}

.nav {
display: flex;
justify-content: space-evenly;
}


.footer {
display: flex;
justify-content: center;
}

.topMusic {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

img {
  border: 2px solid black;
  border-radius: 10%; 
}

/* .artistImage {
  border: 2px solid black;
  border-radius: 50%; 
}

.albumImage {
  border: 2px solid black;
  border-radius: 10%; 
}

.trackImage {
  border: 1px solid black;
  border-radius: 50%; 
} */


input,
button {
  color: black;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

input[type="text"] {
  width: 80%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}